p {
  font-size: 16px;
}

.pico-color {
  color: #1EDD88;
}


/* ----- Head ----- */

#null {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}


.landing-navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  max-width: 1440px;
  margin: auto;
}

#null.border {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo>h1 {
  margin: auto 10px;
}

.logo>img {
  height: 50px;
  border-radius: 50%;
}

.menu {
  margin: auto  0;
}

.menu.product {
  padding-top: 4px;
}


.menu-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dropdown>div>p {
  font-size: 16px;
  margin: 0px;
}

.dropdown {
  padding: 8px 8px;
  display: inline-flex;
}

.dropdown>div {
  padding: 4px 4px;
}

.demo>a{
  color: #1EDD88 !important;
  margin: 0px;
  text-decoration: none;
  font-size: 16px;
}


.button>a {
  color: white !important;
  margin: 0px;
  text-decoration: none;
  font-size: 16px;
}

.demo>p {
  margin: 0px;
}

.expend {
  transition: background 0.3s ease;
  border: none;
}


.dropdown-content0, .dropdown-content1 {
  position: relative;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-content0.tab:hover, .dropdown-content1.tab:hover {
  color: #1EDD88;
}

.submenu {
  position: absolute;
  top: -1;
  padding-top: 20px;
  background: transparent;
  padding: 40px 0px 0px 0px;
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.tab-pointer {
  position: absolute;
  left: 25%;
  top: 34;
  background: white;
  transform: rotate(45deg);
  height: 20px;
  width: 20px;
  z-index: 2;
  box-shadow: -5px -5px 12px -7px #000000;
}

.tab-content {
  position: absolute;
  top: 40;
  left: -25px;
  background: white;
  box-shadow:  0px 0px 5px 0px rgba(0,0,0,0.3);
  padding: 10px 0pc;
  min-width: 140px;
}

.tab-content>p {
  padding-left: 20px;
  margin: 10px 0px;
  color: black !important;
}

.tab-content>p:hover {
  background: rgba(117,209,152,0.5)
}

.submenu.tab.active {
  visibility: visible;
}

/* ------- body --------*/



.landing-content {
  max-width: 1440px;
  margin: 0 auto;
}

.button.download {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  border: none;
}

.button.download>p{
  font-size: 16px;
  margin: 0px;
}

.bannerPico {
  width: 100%;
  /*background: -webkit-linear-gradient(left, rgba(146,221,175,1) 0%, rgba(117,209,152,1) 41%, rgba(74,191,119,1) 100%);*/
  background: white;
}

.banner {
  display: flex;
  justify-content: flex-end;
}

.banner>img {
  height: 500px;
}

.banner-catch {
  margin: auto;
  max-width: 400px;
}

.white {
  background: white !important;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.1);
}

.white>a {
  color: #1EDD88 !important;
}

.banner>img {
  box-shadow: 50px 35px 50px rgba(0,0,0,0.1);
  border-radius: 0px 0px 8px 8px;
}

.small-logo {
  height: 50px;
  margin-bottom: 10px;
}

.opacity-logo {
  opacity: 0.7;
}

.benefitList-wrapper {
  padding: 20px 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 60px 0px;
}

.benefitList-wrapper>div {
  /*box-shadow: 0 -1px 10px rgba(0,0,0,0.1);*/
  /*box-shadow: 0 -1px 30px rgba(0,0,0,0.2);*/
  width: 30%;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
}

.benefitList-wrapper>div>h4 {
  color: #1EDD88;
}

.picoFirst-wrapper {
  padding: 0px 200px;
  box-shadow: 0px 10px 60px rgba(0,0,0,0.1);
  padding-top: 40px;
  border-radius: 8px;
  padding-top: 40px !important;
}

.wrappLeft {
  float: left;
  margin-right: 40px;
}

.wrapp {
  float: right;
}

.wrappLeft>img {
  float: left;
  width: 400px;
}

.wrappLeft.xxl>img {
  width: 500px !important;
}

.wrapp>img {
  float: right;
  width: 400px;
}

.complete.first {
  height: 100px;
}

.content-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.content-flex>div>img {
  width: 100%;
}

.content-flex>div {
  flex: 1;
  margin: 0px 20px;
}

.complete.second {
  height: 100px;
}

.complete.third {
  height: 150px;
  text-align: center;
}

.card-contact {
  margin: auto !important;
}


.card-contact.content-picoUniverse {
  padding: 40px;
  margin: auto;
}

.complete.fourth {
  height: 100px;
}

.complete.five {
  height: 200px;
}



/* ----- Footer ----- */



#picoFooter {
  margin-top: 80px;
  padding: 80px 0px;
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(246,246,246,1) 64%, rgba(237,237,237,1) 100%);
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  margin: 80px auto 0px auto;
  min-height: 400px;
  padding: 40px;
  justify-content: space-between;
  padding: 15px 0px;
  max-width: 1440px;
  margin: auto;
}

.footer-content {
  margin: 0px 10px;
}




