/* ----- Head ----- */

#null {
  position: sticky;
  top: 0;
  background: white;
}


.landing-navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  max-width: 1440px;
  margin: auto;
}

#null.border {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo>h1 {
  margin: auto 10px;
}

.logo>img {
  height: 50px;
  border-radius: 50%;
}

.menu {
  margin: auto  0;
}

.menu.product {
  padding-top: 4px;
}


.menu-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dropdown>div>p {
  font-size: 16px;
  margin: 0px;
}

.dropdown {
  padding: 8px 8px;
  display: inline-flex;
}

.dropdown>div {
  padding: 4px 4px;
}

.demo>p {
  color: #1EDD88;
  margin: 0px;
}

.expend {
  transition: background 0.3s ease;
  border: none;
}

.expend:hover {
  transform: rotate(-180deg);
}



/* ------- body --------*/



.landing-content {
  max-width: 1440px;
  margin: 0 auto;
}

.button.download {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  border: none;
}

.button.download>p{
  font-size: 16px;
  margin: 0px;
}

.bannerPico {
  height: 600px;
  width: 100%;
  background: -webkit-linear-gradient(left, rgba(146,221,175,1) 0%, rgba(117,209,152,1) 41%, rgba(74,191,119,1) 100%);
}

.benefitList-wrapper {
  padding: 20px 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px 0px;
}

.benefitList-wrapper>div {
  box-shadow: 0 -1px 10px rgba(0,0,0,0.1);
  width: 30%;
  text-align: center;
  border-radius: 8px;
  padding: 20px 0px;
}

.picoFirst-wrapper {
  padding: 0px 200px;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.1);
  padding-top: 40px;
  border-radius: 8px;
}

.wrappLeft {
  float: left;
  margin-right: 40px;
}

.wrapp {
  float: right;
}

.wrappLeft>img {
  float: left;
  width: 400px;
}

.wrapp>img {
  float: right;
  width: 400px;
}

.complete.first {
  height: 100px;
}

.complete.second {
  height: 100px;
}

.complete.third {
  height: 100px;
}

.complete.fourth {
  height: 100px;
}



/* ----- Footer ----- */



#picoFooter {
  margin-top: 80px;
  padding: 80px 0px;
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 64%, rgba(237,237,237,1) 100%);
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  margin: 80px auto 0px auto;
  min-height: 400px;
  padding: 40px;
  justify-content: space-between;
  padding: 15px 0px;
  max-width: 1440px;
  margin: auto;
}

.footer-content {
  margin: 0px 10px;
}




