@media (max-width: 1459px) {
  .landing-navbar {
    padding: 15px;
  }
  .menu.link {
    margin: auto 10px;
  }
}


@media (max-width: 1024px) {
  .menu.link {
    margin: auto 10px;
  }
}


@media (max-width: 769px) {
  .menu {
    /*width: 45%;*/
  }
}
